@import'./mixins.styl';
@import'./variables.styl';

.section
	background-color $sectionBG
	&-header
		text-align center
		width 100%
		padding-top 5rem
		font-size 3rem
		&_small
			text-align center
			width 100%
	&-availability
		text-align center
		width 100%
		padding-top 1rem
	&-content
		list-style none
		justify-content center
		contentCenterMaxWidth()
	&-link
		text-align center
		display block
		padding-top 1rem
	&-img
		background-size contain
		background-repeat no-repeat
		background-position center
		width 70%
		margin 0 auto
		height 200px
		margin-top 5rem
	&-iphone-8
		background #f9f0eb
	&-compare
		background-color #fafafa

